.image {
    border-radius: 4px;
    padding-bottom: 10px;
}

.interest-fig {
  margin-bottom: 8px;
}

.interest-label {
  cursor: pointer;
  text-align: center;
}

input[name=interest] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
