{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
{% endblock %}

{% block content %}
    <div class"content">
        <div class="row">
          <div class="col-5 offset-center">
            <div class="card">
                <div class="card-head">
                    <p class="card-head-title">Hi, Select your Interest</p>
                </div>
                <div class="content u-center">
                  <div class="col-6 u-center ignore-screen">
                    <label class="interest-label">
                      <input class="" type="radio" name="interest" value="M" checked>
                      <figure class="avatar avatar--xlarge interest-fig">
			      <!--  <img src="https://image.flaticon.com/icons/svg/145/145848.svg" /> -->
			      <img src="https://media.tenor.com/images/a2b2a46aef7e20955412b15ffff1a9ce/tenor.gif" />
                      </figure>
                      Male
                    </label>
                  </div>
                  <div class="col-6 u-center ignore-screen">
                    <label class="interest-label">
                      <input class="" type="radio" name="interest" value="F">
                      <figure class="avatar avatar--xlarge interest-fig">
			      <!--  <img src="https://image.flaticon.com/icons/svg/145/145847.svg" /> -->
			      <img src="https://media.tenor.com/images/93df1228cae60353c52a839002a47554/tenor.gif" />
                      </figure>
                      Female
                    </label>
                  </div>
                </div>
                <div class="action-bar u-center">
                    <button class="btn btn-animated btn-info" id="save-interest-btn">Save</button>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var userId = '{{ userId }}';
  </script>
  <script src="{{ url_for('static', filename='modal.js') }}" type="application/javascript"></script>
{% endblock %}
