<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/cirrus-ui">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
    <title>Minder mash</title>
</head>
<body>
    <div class"content">
        <div class="row">
          <div class="col-7 offset-center">
            <div class="card">
                <div class="card-container">
                    <div class="card-image" style="background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/1534100238-Deepika-final1_0.jpeg?6xIlBTJCQvGXgt6yjQ6sDypoATGeEbwc)"></div>
                    <div class="title-container">
                        <p class="title">Deepika Padukone</p><span class="subtitle">Actress</span>
                    </div>
                </div>
                <div class="action-bar u-center">
                  <button class="btn btn-xlarge btn-success" id="yes">Yes</button>
                  <button class="btn btn-xlarge btn-danger" id="no">No</button>
                </div>
            </div>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='modal.js') }}" type="application/javascript"></script>
</body>
</html>
