.image {
    border-radius: 4px;
    padding-bottom: 10px;
}

.interest-fig {
  margin-bottom: 8px;
  background-color: white;
}

.interest-label {
  cursor: pointer;
  text-align: center;
}
