{% extends 'base.html' %}

{% block content %}
    <div class"content">
        <div class="row">
          <div class="col-7 offset-center">
            <div class="card" id="profile-card">
                <div class="card-container">
                    <div class="card-image" id="profile-image"></div>
                    <div class="title-container">
                        <p class="title" id="profile-title"></p>
                    </div>
                </div>
                <div class="action-bar u-center" id="action-btns">
                  <button class="btn btn-xlarge btn-success btn-animated" id="yes" disabled>Yes</button>
                  <button class="btn btn-xlarge btn-danger btn-animated" id="no" disabled>No</button>
                </div>
            </div>
          </div>
      </div>
    </div>
    <script type="text/javascript">
      var userId = {{ userId }};
    </script>
{% endblock %}
