<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
    <title>Minder mash</title>
</head>
<body>
    <div class="page-container">
        <div class="img-container">
            <img class="image" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/1534100238-Deepika-final1_0.jpeg?6xIlBTJCQvGXgt6yjQ6sDypoATGeEbwc">
        </div>
        <div class="btn-container">
            <button class="btn" id="yes">Yes</button>
            <button class="btn" id="no">No</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='modal.js') }}" type="application/javascript"></script>
</body>
</html>
